body {
  height: 100vh;
  width: 100vw;
  background-color: #0e1116;
  background-image: linear-gradient(to right, #0e1116, #374a67 50%);
  margin: 0rem;
  overflow: hidden;
}

#track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}

#one,
#two,
#three,
#four,
#five {
  width: 40vmin;
  height: 56vmin;
  object-position: center;
}

.container {
  user-select: none;
}

#about-me,
#history,
#pitch,
#projects,
#contacts {
  position: relative;
  text-align: center;
  transition: 0.5s ease-in-out;
}

#about-me:hover,
#history:hover,
#pitch:hover,
#projects:hover,
#contacts:hover {
  cursor: pointer;
}

.logos {
  height: 2.75rem;
  width: 50%;
  background-color: #9e7b9b;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 4em;
}

.logoLinks {
  color: #404040;
  font-family: Encode Sans Semi Expanded, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5em;
  margin-top: 1.5em;
}

#phone {
  color: #404040;
  font-family: Encode Sans Semi Expanded, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.85em;
  padding-top: 1em;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1vw;
}

/* Expanded Div's Styling */

/* About Me */

#aboutMeTitle {
  color: #404040;
  font-family: Encode Sans Semi Expanded, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5em;
  text-shadow: 4px 4px 2px #9e7b9b;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  text-align: end;
  padding-right: 1.75em;
}

#expandedAboutMe {
  color: #262626;
  background-color: #cccccc;
  outline: none;
  font-size: 1.25em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
}

#expandedAboutMe > p {
  line-height: 1.75;
  padding: 1.25em;
  text-align: start;
}

/* History */

#historyTitle {
  color: #404040;
  font-family: Encode Sans Semi Expanded, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.55em;
  text-align: center;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -23.5%);
}

#expandedHistory {
  color: #262626;
  background-color: #cccccc;
  outline: none;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  padding-right: 5px;
  transform: translate(-50%, -50%);
}

#expandedHistory > ul,
#expandedPitch > ul,
#expandedProjects > ul {
  text-align: start;
  list-style: square;
}

#expandedHistory > ul > li,
#expandedPitch > ul > li,
#expandedProjects > ul > li {
  font-weight: 800;
  color: #9e7b9b;
}

/* Pitch */

#pitchTitle {
  color: #404040;
  font-family: Encode Sans Semi Expanded, serif;
  font-weight: 500;
  font-size: 2em;
  font-style: normal;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -45%);
}

#expandedPitch {
  color: #262626;
  background-color: #cccccc;
  outline: none;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  padding-left: 1em;
  padding-right: 1em;
}

/* Projects */

#projectsTitle {
  color: #404040;
  font-family: Encode Sans Semi Expanded, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
  text-align: center;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  background: none;
  position: absolute;
  top: 50%;
  left: 70%;
  height: 100%;
  transform: translate(-50%, -50%);
}

#expandedProjects {
  color: #262626;
  background-color: #cccccc;
  outline: none;
  font-size: 1.25em;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  padding-left: 1em;
  padding-right: 1em;
}

/* Contacts */

#contactsTitle {
  color: #404040;
  font-family: Encode Sans Semi Expanded, serif;
  font-weight: 500;
  font-size: 2em;
  font-style: normal;
  background: none;
  position: absolute;
  top: 50%;
  left: 75%;
  height: 100%;
  transform: translate(-50%, -45%);
}

#contacts > h1 {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

#expandedContacts {
  color: #262626;
  background-color: #cccccc;
  outline: none;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  padding-left: 1em;
  padding-right: 1em;
}

/* Utility Classes */
.expanded {
  transform: scale(1.5);
}

.hidden {
  display: none;
}

.focused {
  z-index: 1;
}

/* Media Queries */

@media (max-width: 600px) {
  #aboutMeTitle {
    font-size: 4.75vw;
  }

  #expandedAboutMe {
    font-size: 2.35vw;
  }

  #historyTitle {
    font-size: 3.5vw;
  }

  #expandedHistory {
    font-size: 1.75vw;
  }

  #pitchTitle {
    font-size: 4.25vw;
  }

  #expandedPitch {
    font-size: 1.75vw;
  }

  #projectsTitle {
    font-size: 5.75vw;
  }

  #expandedProjects {
    font-size: 2.5vw;
  }

  #contactsTitle {
    font-size: 4.25vw;
  }

  #expandedContacts {
    font-size: 1.85vw;
  }

  .logos {
    width: 5vw;
    height: 4vh;
  }
}

@media (min-width: 600px) {
  #aboutMeTitle {
    font-size: 4.5vw;
  }

  #expandedAboutMe {
    font-size: 2.25vw;
  }

  #historyTitle {
    font-size: 3.5vw;
  }

  #expandedHistory {
    font-size: 1.65vw;
  }

  #pitchTitle {
    font-size: 4vw;
  }

  #expandedPitch {
    font-size: 1.65vw;
  }

  #projectsTitle {
    font-size: 5.5vw;
  }

  #expandedProjects {
    font-size: 2.25vw;
  }

  #contactsTitle {
    font-size: 4.25vw;
  }

  #expandedContacts {
    font-size: 1.5vw;
  }
  .logos {
    width: 5vw;
    height: 4vh;
  }
}

@media (min-width: 768px) {
  #aboutMeTitle {
    font-size: 4vw;
  }

  #expandedAboutMe {
    font-size: 1.5vw;
  }

  #historyTitle {
    font-size: 2.5vw;
  }

  #expandedHistory {
    font-size: 1.15vw;
  }

  #pitchTitle {
    font-size: 2.5vw;
  }

  #expandedPitch {
    font-size: 1.15vw;
  }

  #projectsTitle {
    font-size: 3.5vw;
  }

  #expandedProjects {
    font-size: 1.5vw;
  }

  #contactsTitle {
    font-size: 2.5vw;
  }

  #expandedContacts {
    font-size: 0.95vw;
  }
}

@media (min-width: 1200px) {
  #aboutMeTitle {
    font-size: 2vw;
  }

  #expandedAboutMe {
    font-size: 1.15vw;
  }

  #historyTitle {
    font-size: 1.5vw;
  }

  #expandedHistory {
    font-size: 0.75vw;
  }

  #pitchTitle {
    font-size: 1.85vw;
  }

  #expandedPitch {
    font-size: 0.75vw;
    line-height: 2.25vh;
  }

  #projectsTitle {
    font-size: 2.5vw;
  }

  #expandedProjects {
    font-size: 1.15vw;
  }

  #contactsTitle {
    font-size: 1.5vw;
  }

  #expandedContacts {
    font-size: 0.75vw;
  }

  .logos {
    height: 5vh;
    width: 3vw;
  }
}
