body {
  height: 100vh;
  width: 100vw;
  background-color: #0e1116;
  margin: 0rem;
  overflow: hidden;
}

#track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}

#one,
#two,
#three,
#four,
#five {
  width: 40vmin;
  height: 56vmin;
  object-position: center;
}
